<div class="parallax-container">
    <div class="parallax"><img src="./images/AngularJS-Resources.jpg"></div>
</div>

<section style="margin-top: -10%;">
    <div class="row">
        <div class="col offset-l1 l10 s12 white z-depth-1">
            <article>
                <div class="col l4 m4 s6">
                    <!-- imagem do angular  aqui-->
                    <img src="https://angularjs.org/img/AngularJS-large.png" style="padding-top: 10%;" width="300">
                </div>
                <div>
                    <div class="col l8 m8 s12">

                        <section >

                        <h4>O que é AngularJS?</h4>
                        <p>De forma básica, AngularJS é um framework que liga seu HTML com objetos JavaScript. Quando seus modelos mudam, a página é atualizada automaticamente. O contrário também é válido – um modelo, associado com um campo de texto, é atualizado quando o conteúdo do campo é alterado. O Angular manuseia toda essa ‘cola’ do código, então você não precisa atualizar manualmente o HTML ou escutadores (listeners) para os eventos, como você faz com jQuery. </p><p>AngularJs é um html projetado para aplicações</p>
                        <em><a href="http://javascriptbrasil.com/2013/10/23/aprenda-angularjs-com-estes-5-exemplos-praticos/" target="_blank">Mais</a></em>

                         </section>

                         <hr>

                        <section>

                            <h4>Quais as principais diferenças entre jQuery e AngularJS?</h4>
                            <p><strong>Data Binding de mão dupla. Exemplo.</strong><br>
                                Você define um tipo de dados (chamado Model) e quaisquer alterações nestes ocorrem em toda aplicação, onde os mesmos aparecerem. </p>
                            <p><strong>Padrão de desenvolvimento:</strong><br>
                                Você pode desenvolver uma aplicação MVC com AngularJS. </p>
                            <p><strong>Validação de Form Client-side:</strong><br>
                                Com angular é muito simples validar um formulário antes de submeter. </p>

                        </section>

                    </div>


                </div>

            </article>

            <article>

                <div class="col l4 m4 s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="angularjs" type="text"  ng-model='nomeInicio'>
                            <label class="active" for="angularjs">Teste do Angular</label>

                            Input: {{nomeInicio}}
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="col l8 m8 s12">

                    <pre>&lt;div class=&quot;input-field col s12&quot;&gt;
    &lt;input id=&quot;angularjs&quot; type=&quot;text&quot; ng-model=&#39;nomeInicio&#39;&gt;
    &lt;label class=&quot;active&quot; for=&quot;angularjs&quot;&gt;Teste do Angular&lt;/label&gt;
    Input: { {nomeInicio} }
&lt;/div&gt;
                    </pre>

                        <section >

                            <h4>Entendendo o AngularJS</h4>
                            <p><strong>Porque usar? </strong><br>
                                Certas aplicações tem como principal característica a alta complexidade e dinamismo de suas páginas HTML, fazendo com que parte da lógica seja empurrada para o Cliente(Javascript). Esses tipos de aplicação necessitam de uma maior organização do código no front-end e o AngularJS consegue realizar essa tarefa muito bem, permitindo que você quebre o seu código em partes, separando assim suas responsabilidades. Além de incentivar o uso de Dependency Injection.</p>
                            <hr>
                            <p><strong>Componentes:</strong><br>
                                Podemos dizer que o AngularJs é composto de: -Módulos -Controllers -Services -Diretivas -Filtros</p>
                            <hr>

                            <p><strong>Módulos</strong><br>
                                São esses componentes que realizam a inicialização e encapsulam os controllers, diretivas, services e routes de uma aplicação AngularJS e são definidas pela diretiva <strong>ng-app</strong>. <br> Para criar um novo módulo utilizamos a chamada <strong>‘var nomeDoModulo = angular.module(‘nomeDoModulo’, [])’</strong>, o primeiro parâmetro define o nome do módulo e o segundo é um array de dependências de outros modulos.<br>

                            </p>
                            <hr>

                            <p><strong>Controllers</strong><br>
                                Segundo a documentação oficial o Controller é o comportamento por trás do DOM e é também responsável por inicializar e/ou adicionar comportamentos ao objeto <strong>$scope</strong>, o qual permite a comunicação entre a View e o seu Controller. A diretiva <strong>ng-controller</strong> é utilizada para definir em qual parte do documento HTML ele será utilizado. <br> Ex: angularApp.controller( 'TarefasController', function( $scope ) { //Conteudo da controle });

                            </p>
                            <hr>

                            <p><strong>Services</strong><br>
                                De acordo com a documentação oficial, Services são objetos Singletons que realizam tarefas específicas comuns em uma aplicação WEB.<br>

                                Esses componentes podem ser utilizados para compartilhar informações entre controllers, servir como comunicação com o servidor e também como ser a camada que contém a lógica de negócio, deixando o Controller cuidar somente do fluxo da aplicação.<br>

                            </p>

                            <hr>

                            <p><strong>Diretivas</strong><br>
                                As diretivas são elementos do framework que trazem ‘um novo poder’ ao HTML . Elas são definidas dentro do documento HTML e são utilizadas para que a manipulação do DOM seja feita de forma mais transparente e/ou para adicionar novos comportamentos às tags existentes. <br><br>
                                A diretiva <strong>ng-click</strong> detecta o click no elemento e executa algum comportamento. Nesse caso ele vai definir uma variável contextual chamada tab atribuindo o valor 1, 2 ou 3 para essa variável, dependendo da aba clicada.<br><br>
                                A diretiva <strong>ng-class</strong> permite adicionar uma classe dinamicamente no elemento por meio de uma expressão. &lt;li&gt;&lt;a ng-click=&quot;tab=1&quot; ng-class=&quot;{&#39;active&#39; : tab==1}&quot;&gt;Aba 1&lt;/a&gt;&lt;/li&gt;  . O valor que adicionamos ali é uma condicional: {'active' : tab==1}. Adicione a classe active se a variável tab for igual a 1.<br><br>
                                A diretiva <strong>ng-show e ng-hide</strong> mostra ou esconde o elemento baseado em alguma expressão ou condicional.<br><br>
                                A diretiva <strong>ng-repeat</strong>  recebe como parâmetro uma expressão de repetição que controla quantas vezes a tag onde ela esta definida será renderizada. <br><br>
                                A diretiva <strong>ng-if</strong> permite fazer condições com as tags do HTML<br><br>
                                A diretiva <strong>ng-init</strong> permite avaliar e modificar uma expressão dentro de um determinado escopo.<br><br>
                                A diretiva <strong>ng-model</strong> permite que um input possa receber ou alterar o valor do atributo.<br><br>
                                A diretiva <strong>ng-submit</strong> permite chama um método quando há um submit no form.


                            </p>

                            <hr>

                            <p><strong>Filtros</strong><br>
                                Um filtro formata o valor de uma expressão para exibição para o utilizador. Eles podem ser usados ​​em modelos de visão, controladores ou serviços e é fácil de definir o seu próprio filtro.                                . <br><br>
                            </p>

                            <hr>

                            <p><strong>Mais sobre angular</strong><br>
                                Segue abaixo uma excelente playlist de AngularJs. <br><br>
                            <div class="video-container no-controls">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/RiB0TXOhd3U?list=PLWytY2Ghb8blLM9v1nMoAnDPK7KQp0-DC" frameborder="0" allowfullscreen></iframe>
                            </div>
                            </p>

                        </section>

                    </div>


                </div>

            </article>




        </div>
    </div>
</section>