<div class="parallax-container">
    <div class="parallax"><img src="./images/AngularJS-Resources.jpg"></div>
</div>

<section style="margin-top: -10%;">
    <div class="row">
        <div class="col offset-l1 l10 s12 white z-depth-1">
            <article>
                <div class="col l2 m4 s6">
                    <!-- imagem do angular  aqui-->
                </div>
                <div>
                    <div class="col l10 m8 s12">

                    </div>
                </div>
            </article>
        </div>
    </div>
</section>