<!-- Modal da página -->
<script type="text/ng-template" id="formNotas">

    <div class="modal">

        <div class="modal-content">

            <div class="row">

                <h4>{{nota.acao}} Nota</h4>

                <form>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">note_add</i>
                        <input id="notaPrefix" type="text" class="validate"
                               ng-model="nota.nome" ng-maxlength="20" ng-minlength="1">
                        <label for="notaPrefix" class="active">Nome da Nota</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea id="descrPrefix" type="text" class="materialize-textarea"
                               ng-model="nota.conteudo" ng-maxlength="255" ng-minlength="1"></textarea>
                        <label for="descrPrefix" class="active">Conteudo da Nota</label>
                    </div>
                </form>

            </div>

        </div>

        <div class="modal-footer">
            <button ng-click="close(true)" class="modal-action waves-effect waves-green btn-flat">{{nota.acao}}</button>
            <button ng-click="close()" class="modal-action waves-effect waves-red btn-flat">Cancelar</button>
        </div>

    </div>

</script>

<!--Conteudo da página-->

<section class="sectionBase container">

    <div class="row">

        <h3 class="center titlePage">Lista de notas</h3>

        <div class="col s12">
            <nav class="transparent z-depth-1">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

    </div>
    <div class="row">

        <div class="col s12 m6"
             ng-repeat="nota in listaNota | orderBy: '-data' | filter: busca as resultado track by $index">
            <div class="card blue-grey darken-4">

                <div class="card-content white-text">

                    <span class="card-title">{{ nota.nome | limitTo: 20 }}</span>
                    <p>{{ nota.conteudo | limitTo: 255 }}</p>

                    <em class="right">{{nota.data | date: "dd/MM/yyyy 'às' HH:mm"}}</em>

                </div>

                <div class="card-action">
                    <a ng-click="obterModal(nota)">Editar Nota</a>
                    <a ng-click="apagarNota(nota)">Excluir</a>
                </div>

            </div>
        </div>

        <div class="col s12" ng-if="resultado.length == 0">
            <em class="center-align">
                Nenhuma nota foi encontrada
                <span ng-if="busca != ''"> com <strong>{{busca}}</strong></span>.
            </em>
        </div>

    </div>
</section>


<!-- Botão flutuante-->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" ng-click="obterModal()">
        <i class="large material-icons">add</i>
    </a>
</div>